WB_CONFIG_FILE=/app/config/search_growth_focus.yaml
WB_CURL_FILE=/data/input/wb_curl.txt
WB_DATA_DIR=/data
WB_RUN_NAME=serp_20260809
WB_PAGES=2
WB_DEST=-5818883
WB_DEST_LABEL=main
WB_SLEEP_SECONDS=6
WB_QUERY_LIMIT=0
